<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/list">User List</a>
        <a href="/newuser">New User Form</a>
        <a href="/details">User Detail Page</a>
        <a href="/edit">User Edit Page</a>
    </nav>
    <main id="content">  
    {% block content %} {% endblock %}
    </main>
</body>
</html>